@media screen and (min-width: 1200px) {
  .top-div {
    display: none;
  }

  .js-banner {
    display: none;
  }

  .door img {
    width: 220px;
    height: 26px;
  }

  /* button {
    padding: 6px;
  } */

.banner .login button{
  padding: 1px 2px;
  font-size:1.1rem;
}
.content {
  margin-top: 63px;
}




  .banner {
    background-image: url(./asset/img/hero_desktop.png);
    height: 87.4%;
    /* height: 548px; */
    background-position: center center;
  }
 .desk-arrow{
  display: inline;
 }
 .mob-arrow{
  display: none;
 }

  .add-img-mob {
    display: none;
  }

  .address-div {
    width: 408px;
    padding-right: 7px;
    padding-left: 7px;
    height: 60px;
    align-items: center;
    /* padding: 5px 7px 7px 0; */
    /* border: 3px rgb(104, 104, 240) solid; */
  }

  .address-div .add-second img {
    width: 40px;
    justify-content: flex-end;
  }


  .address-div img:nth-child(2) {
    align-self: flex-end;
  }

  .bg-ondesk {

    background-color: red;
    border-radius: 70px;
    /* height: 50px; */
  }

  /* bg arrow */
  .content img {
    padding: 7px;
  }

  .login-btn{
    margin-top: 15px;
  }


  .address-div img {
    width: auto;
  }



  .somemo {
    display: flex;
    flex-direction: row;
    margin: 96px 0px;
    justify-content: center;
    margin-right: 100px;
    max-width: 100%;
  }

  .somemo .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    max-width: 100%;
    width: 360px;
    min-width: 360px;
    flex-wrap: nowrap;
    box-sizing: border-box;
  }

  .somemo .items img {
    margin-left: 30px;
    height: 154px;
    width: 154px;
  }

  .somemo .items h1 {
    font-size: 32px;
    text-align: center;
    display: block;
  }

  .somemo p {
    margin: 8px 0px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
  }

  .somemo a {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }

  .somemo a>* {
    margin-right: 10px;
  }

  /* food */



  .clr-u {
    margin-top: -50px;
    padding-top: 50px;
  }

  .at {
    background-color: transparent;

  }


  .food-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .item1 img{
    margin-left: 73px;
  }
  .item2 .at-cnt{
    margin-right: 73px;
  }

  .at .at-cnt {
    width: 400px;
  }

  .at h1 {
    font-size: 40px;
  }

  .at p {
    font-size: 16px;
    display: block;
  }

  .at img {
    width: auto;
    /* height: auto; */
    height: 500px;
  }

  .items img {
    margin: 0;
  }

  .mtt {
    margin-top: 50px;
  }

  .item1 {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: white; */

  }

  .item2 {
    display: flex;
  }

  .img-mob {
    display: none;
  }

  .img-desk {
    display: inline-block;
    object-fit: cover;
    background-size: cover;
    justify-content: center center;
    margin: 0px 20px;
  }

  .at-cnt {
    width: 400px;
    height: 290px;
  }

  .item3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./asset/img/grocery_desktop.png);
    background-size: cover;
    height: 600px;
  }

  /* .inner-cnt h1{
        line-height: 40px;
    } */

  .inner-cnt {

    justify-content: center;
  }

  .inner-cnt h1 {
    text-align: center;
    font-size: 40px;
    font-family: TT-bold;
    line-height: 1;
    width: 500px;
  }

  .item4 {
    display: flex;
    flex-direction: row-reverse;
  }

  /* swp */
  .business .bus-unlock {
    font-size: 32px;
    padding: 60px 20px 40px ;
  }

  .swp-container .helping h1 {
    padding: 15px;
    font-family: TT-bold;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }

  .helping h1 {
    font-size: 1.5em;
    font-family: TT-bold;
  }

  .swp-container .swp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    /* margin: 0 100px; */
    margin: 0 13%;
    justify-items: center;
    overflow: visible;

  }

  .swp-item {
    padding: 100px;
    margin: 0 1000px;
  }

  .swp-container .swp img {
    /* height: 350px;
    width: 500px; */
    height: 552px;
    width: 552px;
  }

  .swp-item p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
  }

  .swp .swp-item h1 {
    font-size: 40px;
    line-height: 40px;
    font-family: sans-serif;
  }

  /* business   code reused item1,2 */

  /* js */

  .js h2 {
    text-align: center;
    font-size: 40px;
  }


  #ci {
    display: inline;
  }

  .cicuch {
    display: inline;
  }

  .cicuch ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3,1fr); */
    /* justify-content: space-between; */
    text-align: center;
  }

  /* footer */

  .footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 50px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
  }

  .app-icons-desk {
    display: inline;

  }

  .app-icons-desk img {
    height: 133px;
    width: 200px;
    margin: 0;
    padding: 0;
  }

  .wope {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

  }



}