@media screen and (min-width: 1200px) {
    .top-div {
        display: none;
    }

    /* .mob {
      display: none;
    } */

    button {
        padding: 6px;
    }

    .banner {
        background-image: url(./asset/img/hero_desktop.png);
    }

    .address-div {
        width: 408px;
    }

    .login-btn span::after {
        clear: both;
        content: "Sign in for saved address";
    }





    .somemo {
        display: flex;
        flex-direction: row;
        margin: 96px 0;
        justify-content: center;
        max-width: 100%;

    }

    .somemo .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        max-width: 100%;
        width: 360px;
        min-width: 360px;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }

    .somemo .items img {
        height: 154px;
        width: 154px;
    }

    .somemo .items h1 {
        font-size: 32px;
        text-align: center;
        display: block;
    }

    .somemo p {
        margin: 8px 0px;
        font-size: 18px;
        font-family: sans-serif;
        text-align: center;
    }

    .somemo a {
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
    }

    .somemo a>* {
        margin-right: 10px;
    }


    /* food */

    .food-w {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }





    .at h1 {
        font-size: 40px;
    }

    .at p {
        font-size: 16px;
        display: block;
    }


    .item1 {
        display: flex;
        flex-direction: row-reverse;

    }

    .item2 {
        display: flex;
    }

    .img-mob {
        display: none;
    }

    .img-desk {
        display: inline-block;
        object-fit: cover;
        margin: 0px 20px;
    }

    .at-cnt {
        width: 400px;
        height: 290px;
    }
    .item3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/img/grocery_desktop.png);
        background-size: cover;
    height: 600px;
    }
    .inner-cnt{
        max-height: 550px;
        width: 140px;
        justify-content: center;
    }




}